@import 'reset';

@import 'bourbon';
@import 'neat';

$gray: #F2F2F2;
$blue: #3262B3;
$green: #79D758;
// #4C9C32 (dark green)

html {
  box-sizing: border-box;
  font-family: helvetica;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.top-nav {
	background-color: $gray;
	font-family: helvetica;
	font-size: 14px;
	text-align: center;
	padding-top: 5px;
	height: 50px;
	border-bottom: darken($gray, 10%) solid 1px;
}
.search {
	color: darken($gray, 10%);
	width: 300px;
	height: 25px;
	border: darken($gray, 10%) solid 1px;
	border-radius: 3px;
}
.top-links {
	display: inline;
}
.main {
	padding-top: 5em;
	@include outer-container(1020px);
}
.left {
	@include span-columns(3);
}
.left-one {
	//stuff
}
.left-one img {
	width: 250px;
}
.left-two {
	//stuff
}
.top-main {
	//stuff
}
.top-main-links {
	display: inline;
}
.search2 {
	color: darken($gray, 10%);
	border: darken($gray, 10%) solid 1px;
	border-radius: 3px;
	display: block;
}
.main-search {
	display: inline;
}
.repos {
	//stuff
}
.footer {
	//stuff
}
