@import 'reset';

@import 'bourbon';
@import 'neat';

$gray: #F2F2F2;
$blue: #3262B3;
$green: #79D758;
// #4C9C32 (dark green)

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.top-nav {
	background-color: $gray;
	font-family: helvetica;
	font-size: 14px;
	height: 50px;
	border-bottom: darken($gray, 10%) solid 1px;
}
.octicon {
	display: inline;
}
.top-nav ul li {
	display: inline;
	font-weight: bold;
}
input {
	color: darken($gray, 10%);
	width: 300px;
	height: 25px;
	border: darken($gray, 10%) solid 1px;
	border-radius: 3px;
}
.left-sidebar {
	color: red;
}
.main {
	color: purple;
}
img {
	width: 100px;
	display: none;
}
